/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: #fafafa;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem; /* Use a fallback if `--rounded-box` isn't defined */
  }

  .card-title{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  .card-body{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 0.5rem;
    gap: .5rem;
  }
  
  
}

@layer utilities {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    @apply appearance-none; /* Hides spinner in Chrome, Safari, and Edge */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Hides spinner in Firefox */
  }
}

